.bg-danger,
.bg-success {
  color: white;
}
body {
  padding-top: 80px;
}
.donot-text {
  color: 111;
}
.donot-pic-min {
  min-width: 90%;
}
.donot-pic-max {
  max-height: 8rem;
}
#donots img {
  object-fit: contain;
}
.example {
  padding-top: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
.logo {
  width: 8rem;
}
.navbar-bg {
  background-color: darkslategray;
}
section {
  margin-top: 2rem;
}
.why-text {
  font-size: 110%;
  background-color: #eee;
}
